input[type=checkbox] {
    width: 40px;
    height:40px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    /* outline: none; */
    cursor: pointer;
    color:black;
}
dl, ol, ul {
    margin-top:5%;
    list-style:none; 
    text-align: left;
}
div .form-group {
    display: flex;
}
.form-text {
    display: block;
    margin-top: .25rem;
    margin-left: 10%;
    padding: 2%;
    color:white;
    width:100%;
}
.checkBTN {
    color:white;
    text-align: center;
    height: 10%;
}
input[type=checkbox]:checked {
 border: 1px solid rgb(107, 218, 218);
 background-image: url("./check.png");
 background-size: cover;
 background-repeat: no-repeat;
}