input[type=checkbox] {
    width: 40px;
    height:40px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    /* outline: none; */
    cursor: pointer;
    color:black;
}
dl, ol, ul {
    margin-top:5%;
    list-style:none; 
    text-align: left;
    border-image: radial-gradient(silver, black) 50;
}
div .form-group {
    display: flex;
    border-image: radial-gradient(silver, black) 50;
  border-bottom: 2px solid;
    width: 90%;
}

.formStyle {
    margin-bottom: 5px;
}
.form-text {
    display: block;
    margin-top: .25rem;
    padding: 2%;
    margin-left: 10%;
    color:white;
    width:100%;
    font-size: 1em;;
}
.checkBTN {
    color:white;
    text-align: center;
    height: 10%;
}

.taskTitle {
    display: block;
    margin-top: .25rem;
    padding: 2%;
    color:white;
    width:100%;
    font-size: 1.7em;
    margin-left: 0%;
}
.addTaskLink {
    bottom: 10px;
    height: 48px;
    width: 48px;
    padding-bottom: 1px;
    padding-left: 1px;
    background-color: dodgerblue;
    color: white;
    border-radius: 100%;
    font-size: 3rem;

  }
.linkStyle {
    margin-left: 43%;
padding: auto;
  }
  
.reUseBtn {
    width: 33%;
    height: 10%;
    padding: 2%;
}
.reUseBtn:Hover {
    opacity: 90%;
}