#root {
  height: auto;
  width: 99%;
  margin: 0;
}

.home {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: left;
  align-items: center;
  overflow-x: hidden;
}

.taskModal {
  size: 90%;
  overflow: visible;
  align-self: center;
  position: absolute;
  width: 95%;
  max-height: 80vh;
  top: 50px;
  border-radius: 10px;
  border: solid silver;
  background-image: radial-gradient(circle at 50% 30%,rgb(110, 110, 110) 5%,rgb(110, 110, 110) 5%,rgb(6, 14, 26) 90%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
}

.editModal {
  size: 100%;
  overflow: visible;
  align-self: center;
  position: absolute;
  width: 95%;
  max-height: 80vh;
  top: 50px;
  left: 8px;
  border-radius: 10px;
  border: solid 1px silver;
  background-image: radial-gradient(circle at 50% 30%,rgb(110, 110, 110) 5%,rgb(110, 110, 110) 5%,rgb(6, 14, 26) 90%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
}

.addCategoryModal {
  size: 100%;
  overflow: visible;
  align-self: center;
  position: absolute;
  width: 95%;
  max-height: 80vh;
  top: 50px;
  left: 8px;
  border-radius: 10px;
  border: solid 1px silver;
  background-image: radial-gradient(circle at 50% 30%,rgb(110, 110, 110) 5%,rgb(110, 110, 110) 5%,rgb(6, 14, 26) 90%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
}

.today {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.date {
  margin: 0;
}

.greeting {
  color: rgb(216, 216, 216);
  font-size: 1.5rem;
  margin-top: 13%;
}

.countContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(192, 192, 192, 0.247);
  border-radius: 100%;
  height: 75px;
  width: 75px;
  position: relative;
  margin: 30% 0;
  color: white;
  padding-right: 3%;
}

.countContainer:hover {
  background-color: rgba(192, 192, 192, 0.137);
}

.count {
  color: white;
  font-size: 3rem;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: gray;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 2px;
  top: -6px;
}

.homeList {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 20px;
  overflow: auto;
}

.listContainer {
  width: 100%;  
  margin: 20px 0 10px 0;  
  border-image: radial-gradient(silver, black) 50;
  border-bottom: 2px solid;
  padding-right: 6%;
  width: 65%;
}

.listItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-left: 6%;
  color: #d3d3d3;
  font-size: 1.4rem;
}

.filterButtonsCont {
  display: flex;
  flex-flow: column;
  color: white;
  width: 33%;
  border-right: 2px solid gray;
  min-width: 165px;
  max-width: 300px;
  height: 60vh;
  font-size: 2.3rem;
}

.filterButton {
  color: #d3d3d3;
  font-size: 1.4rem;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  color: white;
}

 .categoriesHeader {
  display: flex;
  flex-direction: row-reverse;
  border-top: 1px solid gray;
  align-content: space-between;
  justify-content: flex-end;
  margin-top: 8%;
  padding-top: 8%;
  font-size: 1.5rem;
  font-weight: 600;
  padding-right: 6%;
} 

.categories {
  color: #d3d3d3;
  font-size: 1.3rem;
}

#addCategoryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  font-weight: 500;
  height: 24px;
  width: 24px;
  background-color: dodgerblue;
  color: white;
  border-radius: 100%;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 6px;
}

#addCategoryButton:hover {
  text-decoration: none;
  background-color: white;
  color: dodgerblue;
}

.Alert {
  color: red;
}

#icon {
  width: 18px;
  margin-right: 15px;
  margin-bottom: 16px;
  color: rgba(192, 192, 192, 0.425);
}

.itemContainer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.itemName {
  color: rgba(255, 255, 255, 0.781);
  text-align: start;
}

.duration {
  color: rgba(255, 255, 255, 0.781);
  margin-left: 10px;
}

#addTaskLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  background-color: dodgerblue;
  color: white;
  border-radius: 100%;
  font-size: 3rem;
}

#addTaskLink:hover {
  text-decoration: none;
  background-color: white;
  color: dodgerblue;
}

.countLink:hover {
  text-decoration: none;
}

.closeLink {
  align-self: flex-end;
  margin-right: 10px;
  text-decoration: none;
  color: var(--textColor);
  z-index: 0;
  position: absolute;
  right: 10px;
}

.closeLink:hover {
  color: white;
}

.noTaskContainer {
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 98px;
}

.bigLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 100px;
}

.bigLogo {
  width: 200px;
}

.instruction {
  margin: 0px;
  color: dodgerblue;
}

.arrow {
  font-size: x-large;
  color: dodgerblue;
}
