
  form {
    display: inline;
  }
  
  button {
    margin: px;
    cursor: pointer;
  }
  
  .to-do-app {
    box-sizing: border-box;
    width: 550px;
    margin: 50px auto 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px #252525;
  }
  
  .header {
    background: rgb(145, 144, 144);
    padding: 7px;
    border-radius: 3px 3px 0 0 ;
    
  }
  h1 {
      font-family: sans-serif;
    font-size: 36px;
    margin: 0;
    color: white;
    font-weight: bold;
   
  }
  .create-new {
    border-top: 1px solid rgb(255, 255, 255);
    width: 100%;
    input {
      box-sizing: border-box;
      width: 75%;
      padding: 10px;
      font-size: 18px;
      border: none;
    }
    button {
      width: 25%;
      background: #eee;
      box-sizing: border-box;
      padding: 10px;
      font-size: 18px;
      margin: 0;
      border: none;
      border-left: 1px solid #999;
      &:hover {
        background: #ddd;
      }
    }
  }
  
  .items-list {
    background: #282727;
    border-radius: 3px;
  }
  
  .to-do-item {
    padding: 10px 0 10px 0;
    margin: 1px 0 1px 0;
    border-top: 1px solid darken(#138796, 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: white;
    font-weight: lighter;
    user-select: none;
  }
  
  .name {
    margin-left: 10px;
    input {
      width: 350px;
      color: #333;
      padding: 5px;
      border: none;
      border-radius: 1px;
    }
  }
  
  .actions {
    margin-right: 10px;
    button {
      padding: 7px;
      border-radius: 2px;
      border: none;
      //background: #FFB923;
      //background: #E5FF3D;
      background: #333;
      color: white;
      font-weight: lighter;
      //box-shadow: 0 0 5px darken(#138796, 12%);
    }
  }
  .fa-clock{
    margin: 0 10px;
  }
  @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", helvetica;
}

.date-picker-container {
  width: 350px;
  margin: 5% auto;
}

input {
  width: 100%;
  border: 2px solid #504f4f;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

input:focus {
  border-color: palevioletred;
}

button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
}

button:focus {
  color: lightblue;
}

.calendar {
  margin-top: 0.5rem;
  box-shadow: 0 1px 5px #aeaeae;
  border-radius: 5px;
  overflow: hidden;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: rgb(7, 7, 7);
}

.week {
  display: flex;
}

.week:not(:first-of-type) {
  border-top: 1px solid #eaeaea;
}

.week.day-labels {
  background: rgb(74, 73, 73);
}

.week.day-labels .day {
  cursor: default;
}

.day {
  width: calc(100% / 7);
  padding: 1rem 0.5rem;
  text-align: center;
  cursor: pointer;
}

.week:not(.day-labels) .day:not(:last-of-type) {
  border-right: 1px solid #eaeaea;
}

.week:not(.day-labels) .day:hover {
  background-color: #e7e7e7;
}

.day.is-today.is-today {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.week:not(.day-labels) .day.is-selected.is-selected {
  background-color: rgb(138, 0, 46);
  color: #fff;
}

.color-white {
  color: #fff;
}

.text-bold {
  font-weight: bold;
}

.day[disabled] {
  color: #eaeaea !important;
  cursor: not-allowed !important;
  background: inherit !important;
}
