.nav {
  box-sizing: border-box;
  width: 93.5%;
  max-width: 330px;

  justify-content: flex-start;
  margin: 10px;
}
.appRoutes {
  height: 94%;
  width: 100%;
}
.dashboard {
  height: 100%;
  width: 100%;
}