:root {
  --textColor: silver;
  --iconColor: rgba(192, 192, 192, 0.65);
  --buttonBorder: 2px solid rgb(212, 211, 211);
  width: 100%;

  /* Example:  
                button {
                  border: var(--buttonBorder)
                  color: var(--textColor)
                }
  */
}

.App {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}