html {
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: none;
  overflow: hidden;
}

body {
  background-color: none;
  height: 100% !important;
  width: 100vw;
  min-height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  background-image: radial-gradient(
    circle at 50% 30%,
    rgb(110, 110, 110) 5%,
    rgb(110, 110, 110) 5%,
    rgb(6, 14, 26) 90%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 500px) {
  body {
    width: 100vw;
  }
}

@media only screen and (min-width: 800px) {
  body {
    width: 100vw;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headingGreeting {
  margin-top: 3%;
}
